@using Blazeditor.Application.Models
@inject IJSRuntime JS
<div id="paletteHeader">
    <div><h3>Tile Palette</h3></div>
</div>
@if (SelectedPaletteId.HasValue)
{
    <div style="height: 400px; overflow-y: auto; border:1px solid #ccc; background:#f8f9fa;">
        <canvas @ref="canvasRef" width="512" style="width:100%; display:block; cursor: pointer;"></canvas>
    </div>
}
else
{
    <div class="alert alert-info">No tile palette selected for this area.</div>
}


