@using Blazeditor.Application.Components.Dialogs
@inject DefinitionManager Definition

<div class="toolbar bg-light py-2 px-3 d-flex align-items-center">
    <button class="btn btn-success me-2" @onclick="ShowCreateAreaDialog">Create Area</button>
    @if (showCreateAreaDialog)
    {
        <CreateAreaDialog OnCreate="HandleCreateArea" OnCancelClicked="HideCreateAreaDialog" />
    }
</div>

@code {
    private bool showCreateAreaDialog = false;
    private void ShowCreateAreaDialog() => showCreateAreaDialog = true;
    private void HideCreateAreaDialog() => showCreateAreaDialog = false;
    private async void HandleCreateArea(CreateAreaDialog.AreaModel model)
    {
        Definition.AddArea(model.Name, model.Description, model.Width, model.Height);
        showCreateAreaDialog = false;
        await Definition.SaveAsync();
        StateHasChanged();
    }
}
