@using Blazeditor.Application.Services
@inherits LayoutComponentBase
@inject DefinitionManager Definition

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        if (!Definition.GetAreas().Any())
        {
            var home = Definition.AddArea("Little Town", "Where the character starts.");
            var dungeon = Definition.AddArea("Dungeon", "Where the monsters are.");
            var forest = Definition.AddArea("Forest", "Where the trees are.");

            Definition.AddPortal(home, dungeon, 0, 0, 1, 1);
            Definition.AddPortal(dungeon, forest, 1, 1, 2, 2);
            Definition.AddPortal(forest, home, 2, 2, 0, 0);

        }
        base.OnInitialized();
    }
}