@using Blazeditor.Application.Services

@inherits LayoutComponentBase
@inject DefinitionManager Definition

<div class="container-fluid vh-100">
    <div class="row h-100 flex-nowrap">
        <div class="col-auto p-0 bg-body-tertiary border-end">
            <NavMenu />
        </div>
        <div class="col d-flex flex-column p-0">
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
            <main class="flex-fill">
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

