@page "/area/{areaId:int}"

@using Blazeditor.Application.Components.Dialogs
@using Blazeditor.Application.Services
@inject DefinitionManager Definition

<h1>@Definition.SelectedArea?.Name</h1>
<ImportTilePalette @ref="popupRef" OnConfirm="HandleInput" />

<div class="container">
    <div class="row">
        <div class="col-4 border rounded p-2 canvas-container">
            <div id="paletteHeader">
                <div><h3>Tile Palette</h3></div>
                <div @onclick="ShowImportTilePalette" class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-down"></i></div>
            </div>
            @if (Definition.SelectedArea != null)
            {
                <TilePaletteCanvas Tiles="Definition.SelectedArea?.TilePalette ?? new List<Tile>()" OnTileSelected="OnTileSelected" />
            }
            @if(SelectedTile != null)
            {
                <h3>@SelectedTile.Name</h3>
                <img src="@SelectedTile.Image" />
            }
        </div>
        <div class="col-8">
            <h1>Tile Map</h1>
            <TileMapCanvas TileMaps="@Definition.SelectedArea?.TileMaps" OnTilePlaced="OnTilePlaced" />
        </div>
    </div>
</div>



