@inject Blazeditor.Application.Services.DefinitionManager DefinitionManager

<div class="mb-2">
    <label class="form-label">Impedence:</label>
    <input class="form-control w-auto d-inline-block" type="number" @onchange="OnImpedenceChanged" />
</div>

@code {
    [Parameter] public required Tile Tile { get; set; }
    private float Impedance
    {
        get => Tile.FloorProperties?.Impedance ?? 0;
        set => (Tile.FloorProperties ??= new()).Impedance = value;
    }

    private async Task OnImpedenceChanged(ChangeEventArgs e)
    {
        if (float.TryParse(e.Value?.ToString(), out var newValue))
        {
            Impedance = newValue;
            await DefinitionManager.SaveAsync();
            StateHasChanged();
        }
    }
}
